@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  padding-top: 40px;
  background: #eaeaea;
  border-top: 4px solid #079DBD;
  font: 16px/1.6 'Lora', serif;
  color: #363636;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #079DBD;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: #056791;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
}

.navbar-inverse {
 background-color: #1A324D;
}


.logo{
    width: 150px; 
    padding-top: 5px;
}
  
.kotak-bawah{
height: auto;
 box-shadow: 0 0 1px #8C8C8C;
margin-top: 50px;
}
.kiri{
    width:100%;
    background-color: #F0F4F5;
    margin: 5px;
    padding: 5px;
}
.kanan{
    width:100%;
    background-color: #F0F4F5;
    padding: 5px;
    margin-top: 5px;
    
}

.kotak-footer{
  background-color: #CCCCCC;
    width:100%;
    font-size: 11px;
    text-align: left;
}
.table td{
    padding: 5px;
    text-align: left;
    
    padding-left: 10px;
    
}

.form{
    float: left;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #6090c4;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #6090c4;
    color: white;
}
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal2-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close2 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal2-header {
    padding: 2px 16px;
    background-color: #6090c4;
    color: white;
}

.modal2-body {padding: 2px 16px;}

.modal2-footer {
    padding: 2px 16px;
    background-color: #6090c4;
    color: white;
    
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: #2B3D58;
}
.navbar-inverse .navbar-nav>li>a{
  color: white;
}